.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px; /*reviewer suggested instead on the card__image and card__description*/
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  /*border-radius: 10px 10px 0px 0px;*/
}

.card__title {
  max-width: 220px;
  line-height: 29.05px;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  /*border-radius: 0 0 10px 10px;*/
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-active.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  color: #000000;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
  /* background: transparent url(../images/like-active.svg) center no-repeat;*/
}

@media screen and (max-width: 480px) {
  .card__list {
    margin-left: 19px;
    margin-right: 19px;
  }
}
